* {
  box-sizing: border-box;
}
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}
.animate__bounceInLeft, .animate__bounceInRight{
  --animate-duration: 1s;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}
p{
  font-family: sans-serif;
  letter-spacing: 0.5px;
}
a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 160px 0 100px 0;
  background-image: url(../asset/cover.jpg);
  background-size: cover;
  color: white;
  text-align: right;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.top-wrapper p {
  margin-bottom: 3px;
}

.view{
  background-color: #274833;
  margin-top: 10px;
}

.btn {
  padding: 12px 24px;
  color: white;
  opacity: 0.8;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
}
.active{
  background-color: #274833;
}
.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 62px;
  width: 100%;
  background-color: rgba(15, 15, 15, 1);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 160px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 62px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
